<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YEStack: Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-1">YEStack</h1>
    </div>
    <div class="jumbotron">
        <form method="GET" action="/getData">
            <div class="form-group">
                    <label for="formGroupExampleInput">Enter A Number</label>
                    <input type="text" class="form-control" id="WebNum" name="WebNumber" placeholder="Enter Number Here">
            </div>
            <button class="btn btn-primary mb-2" id="add-btn">Add Number</button>
            <button type="submit" class="btn btn-primary mb-2" id="sumbit-btn">Submit</button>
        </form>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>
    <script src="index.js"></script>
</body>
</html>